$purple: #B649D6;
$red: #FF2626;
$pink: #EBBE8B;
$green: #55C53E;
$blue: #4390CB;
$greyDark: #989898;
$grey: #F1F1F1;
$whiteDark: #F9F9F9;
$white: #FFFFFF;

$innerAnnotateHeight: 70%;

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;  
  color: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.page {
  display: none;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
}

.page-modal {
  background-color: $greyDark;

  >div {
    background-color: $white;
    margin: 2rem 2rem;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;  
  }
}

.btn {
  border-radius: 11px;
  border: 0;
  padding: 1rem 2rem;
  color: $white;
  background-color: $whiteDark;
}

.btn-primary {
  background-color: $purple;
}

.p-absolute {
  position: absolute;
//  width: 100%;
//  height: 100%;  
}

.centre {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#image-save {
  display: none;
}

#page-home {
  display: block;
}

.prompt {
  z-index: 11;
  display: none;
  position: absolute;
  box-sizing: border-box;
  bottom: 25px;
  left: 5%;
  width: 90%;
  background: #987fff;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 1.1em;
  transition: opacity 2s ease-in-out;
}

.prompt p {
  margin: 0;
  text-align: center;
}

.fade-out {
  opacity: 0;
}

@media (display-mode: standalone), (display-mode: fullscreen) {
}
