#page-annotate {

  #btn-close {
    position: absolute;
    background-image: url('../images/fechar_popup.svg');
    background-color: rgba(0,0,0, .05);
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .3rem;
    margin-left: .3rem;
    z-index: 5;
  }

  #inner-annotate {
    max-width: $maxWidth;
    height: $innerAnnotateHeight;

    >div {
      height: $innerAnnotateHeight;
    }

    #canvas-camera {
      z-index: -1;
      pointer-events: none;
      object-fit: contain;
    }

    #canvas-draw {
      z-index: 1;
      position: absolute;
    }

    #canvas-emoji {
      z-index: 2;
      position: absolute;
    }

  }
}