#page-annotate {

  video {
    position: absolute;
    visibility: hidden;
    display: none;
    width: 100%;
    height: 100%;
  }

  #inner-annotate {
    max-width: $maxWidth;
    height: $innerAnnotateHeight;

    >div {
      height: $innerAnnotateHeight;
    }

    #canvas-camera {
      z-index: -1;
      pointer-events: none;
      object-fit: contain;
    }

    #canvas-draw {
      z-index: 1;
      position: absolute;
    }

    #canvas-emoji {
      z-index: 2;
      position: absolute;
    }

  }
}