#page-share, #page-success {

    .img-top {
        img {
            max-height: 5rem;
        }
    }

    .modal-inner {
        padding-top: 2rem;
    }

    .form-email {
        text-align: left;
    }
}

#page-success {
    .success-text {
        max-width: 13rem;
        margin: auto;
        margin-top: 1rem;
    }

}