#page-home {
  .logo {
    width: 100%;
    height: 8rem;
    background: url(../images/hurbanize.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
    max-width: 25rem;
  }
}

