#page-take-photo {

  .take-photo {
    width: 100%;
    position: fixed;
    bottom: 1rem;
    button {
      margin: auto;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: solid 3px white;
      box-shadow: $box-shadow;
      background-color: transparent;
    }
  }
  video {
  }

}