.tools-pannel {
  display: none;
  height: 100%;
  max-width: $maxWidth;
  margin:auto;
}
.tools-pannel.show {
  display: block;
}
#modal-emoji {
  background-color: $greyDark2;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  z-index: 11;
  opacity: .9;
  overflow: hidden;

  #emoji-list {
    text-align: left;
    overflow: scroll;
    height: 91%;
    width: 100%;
    box-sizing: content-box;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $grey2;
    padding: 0; 
    width: 94%;
    margin: auto;
  }

  .emoji-menu {
    box-sizing: border-box;
    opacity: .9;
    height: 9%;
    width: 100%;
  }

  .emoji-category {
    color: $white;
    text-align: left;
    margin: 1rem;
    font-weight: 400;
  }

  img {
    max-width: 26%;
    max-height: 13%;
    margin: .7rem;
  }
}

#toolbar-annotate {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 8rem;
  bottom: 0px;

  .row {
    display: flex;
    height: 54%;
  }
  .row-40 {
    height: 40%;
  }
  .col {
    flex-basis: 0;
    flex-grow: 1;
  }
  .col-6 {
    width: 50%;
    padding: .5rem;
  }

  .col-3 {
    width: 25%;
    padding: .5rem;
  }


  #btn-tools-draw {
    background-image: url('../images/caneta.svg');
    &:active, &.selected {
      background-image: url('../images/a_caneta.svg'); 
    }
  }

  #btn-figures {
    background-image: url('../images/figuras.svg'); 
    &:active, &.selected {
      background-image: url('../images/a_figuras.svg'); 
    }
  }
  #btn-undo {
    background-image: url('../images/desfazer.svg'); 
    &:active, &.selected {
      background-image: url('../images/a_desfazer.svg'); 
    }
  }
  #btn-pencil {
    background-image: url('../images/pintar.svg'); 
    &:active, &.selected {
      background-image: url('../images/a_pintar.svg'); 
    }
  }
  #btn-erase {
    background-image: url('../images/apagar.svg'); 
    &:active, &.selected {
      background-image: url('../images/a_apagar.svg'); 
    }
  }
  #btn-confirm {
    background-image: url('../images/confirmar.svg'); 
    &:active, &.selected {
      background-image: url('../images/a_confirmar.svg'); 
    }
  }
  #btn-share-confirm {
    margin-bottom: 0.5rem;
    &.loading {
      background-color: $white;
      color: $green;
      border: solid 1px;
      margin-bottom: 0px;
    }
  }

  #colors {
    margin-top: .5rem;
  }

  .btn-color {
    background: none;
    padding: 0rem;
    height: 100%;
    width: 100%;
    >div {
      transition: width .3s;      
      box-shadow: $box-shadow;
      border-radius: 3rem;
      width: 1.4rem;
      padding: 0rem;
      height: 1.4rem;
      margin: auto;
      margin-bottom: 1rem;
    }

    &.selected>div {
      margin-top: .2rem;
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  #btn-white>div { 
    border: solid 1px $greyDark;
  }
  
  .btn-toolbar {
    display: block;
  }

}

#tools-share {
  padding: .5rem;
}

#tools-figure {
  display: none;
  z-index: 5;
  position: absolute;
  right: .7rem;
  text-align: right;
  
  &.show {
    display: block;
  }
  .tools-figure-buttons {
    display: inline-block;
  }
  button {
    background-size: 24px;
    display: block;
    padding: 0px;
    background-color: rgba(0,0,0, .1);
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
    &:active {
      border: none;
      background-color: rgba(255,255,255, 0.3);
    }
    &:disabled {
      opacity: .4;
    }
  }
  #btn-figure-front {
    background-image: url('../images/frente.svg'); 
  }
  #btn-figure-back {
    background-image: url('../images/atras.svg'); 
  }
  #btn-figure-delete {
    background-image: url('../images/excluir.svg'); 
  }
  #btn-figure-undo {
    background-image: url('../images/desfazer-figura.svg'); 
  }

  .count-labels {
    margin-right: .3rem;
    float: left;
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  #count-front {
    margin-top: .5rem;
  }
  #count-back {
    margin-top: 1.8rem;
  }


}
