.tools-pannel {
  display: none;
  height: 100%;
  max-width: 700px;
  margin:auto;
}
.tools-pannel.show {
  display: block;
}
#modal-emoji {
  background-color: $grey;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  overflow: scroll;
  opacity: .9;

  img {
    max-width: 26%;
    max-height: 16%;
    margin: .7rem;
  }
}


#toolbar-annotate {
  height: 100% - $innerAnnotateHeight;

  background-color: $white;
  //position: fixed;
  width: 100%;
  //bottom: 0px;

  .row {
    display: flex;
    height: 50%;
  }
  .col {
    padding: .5rem;
    flex-basis: 0;
    flex-grow: 1;
  }
  .col-6 {
    width: 50%;
    padding: .5rem;
  }

  .col-3 {
    width: 25%;
    padding: .5rem;
  }


  #btn-tools-draw {
    background-image: url('../images/caneta.svg');
  }

  #btn-figures {
    background-image: url('../images/figuras.svg'); 
  }
  #btn-undo {
    background-image: url('../images/desfazer.svg'); 
  }
  #btn-pencil {
    background-image: url('../images/pintar.svg'); 
  }
  #btn-erase {
    background-image: url('../images/apagar.svg'); 
  }
  #btn-confirm {
    background-image: url('../images/confirmar.svg'); 
  }

  .btn-color {
    padding: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: .2rem;
  }

  #btn-white { 
    border: solid 1px $greyDark;
  }
  
  .btn-share {
    height: 50%;
    button {
      width: 100%;
    }
  }

}
